# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
output
.playwright-cli
docs/.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
docs/assets/media/ETV_Jai_Ganesha.mp4
assets/ETV Jai Ganesha show_ Kurraalloy.mp4
*.mp4
*.mov
*.m4a
*.MOV
!docs/assets/media/ETV_Jai_Ganesha.mp4
